POSTGRES_USER=dia
POSTGRES_PASSWORD=dia_secret_123
POSTGRES_DB=dia
POSTGRES_PORT=5432
REDIS_PORT=6379
DATABASE_URL="postgresql://dia:dia_secret_123@localhost:5432/dia?schema=public"
API_PORT=3001
JWT_ACCESS_SECRET=dia_secret_123
JWT_REFRESH_SECRET=dia_secret_123
FEATURE_OWNERSHIP=false
FEATURE_MARKETPLACE=false